<div id="header">
	<div id="header_container">
		<a href="/" alt="Party Manager home"><h1>Party Manager</h1></a>
		<span>
		<% if logged_in? %>
			<% if administrator?%>
				Admin: 
			<% end %>
			<%= current_user.name + " (" + current_user.email + ") | " %> 
			<%= link_to "Log out", logout_path %> 
		<% else %>
			<%= link_to "Sign up", signup_path %> or
			<%= link_to "log in", login_path %>.
		<% end %>
		</span>
	</div>
</div>