<div id="header">
	<span id="app">Party Manager</span>
	<div id="user_info">
	   <span>
	   <% if logged_in? %>
	     <% if administrator?%>
	       Admin: 
	     <% end %>
        <%= current_user.name + " (" + current_user.email + ") | " %> 
        <%= link_to "Log out", logout_path %> 
      <% else %>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "log in", login_path %>.
      <% end %>
      </span>
	</div>
</div>