body{
  font-family: "Lucida Grande", Sans-Serif; 
  color: #272F32;
  margin: 0;
  padding: 0;
  background-color: #444;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  background-image: url('../images/header-gradient.png');
  background-repeat: repeat-x;
  height: 110px;
}

#header h1{
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url('../images/party-manager.png');
  background-repeat: no-repeat;
  text-decoration: none;
  height: 75px;
  background-position: -12px top;
  text-indent: -1000em;
  width: 420px;
}

#header_container {
  margin: 0 auto;
  padding: 20px 0px;
  width: 800px;
}

#header_container  span{
  margin-top: 28px;
  float: right;
  color: white;
}

#header_container a {
  color: white;
  text-decoration: none;
}

#header_container a:hover {
  text-decoration: underline;
}

#menu_container{
  background-image: url('../images/menu-gradient.png');
  background-repeat: repeat-x;
  height: 30px;
  border-top: 1px solid #000;
}

/*Menu code*/

#menu 
{
	/*
	-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
    text-align: center;
	width: 880px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	/*
	background: #303333;
	*/
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}


#menu li {
	float: left;
}

#menu a {
	display: block;
	color: black;
	width: 120px;
	height: 25px;
	padding-top: 5px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	/*-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
	color: white;
	background-color: black;
	text-decoration: none;
}

#login {
	width: 250px;
	margin: 10px auto;
}

#login input{
	width: 220px;
}

#location_show {
	text-align: center;
	margin-bottom: 15px;
}

#container {
  /*width: 75%;*/
  display: block;
  width: 800px;
  min-height: 400px;
  margin: 0 auto 20px auto;
  background-color: #FFFFFF;
  padding: 10px 40px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 7px 7px 8px #222;
  -webkit-box-shadow: 7px 7px 8px #222;
  -moz-box-shadow: 7px 7px 8px #222;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#222, offX=7, offY=7, positive=true);
}

#accordion div{
  text-align:center;
}

#map_canvas{
  display: inline-block;
  width: 430px;
  height: 360px;
  text-align: center;
  background-color: #EEE;
  border: 1px solid gray;
  margin: 0 auto;
  width: 100%;
}

#map_canvas.bw {
  background-image: url('../images/google-map-bw.jpg');
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.horizontal {
	background-color: #D3FFDC;
	margin: 20px 0px;
	padding: 10px 8px;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.horizontal span {
	font-weight: normal;
}

h1.horizontal {
	font-size: 1.2em;
}

h2.horizontal {
	font-size: 1.1em;
}

.slide:hover {
	background-color: #a4c8ab;
	cursor: pointer;
}

table.details  tr{
	vertical-align:text-top;
}

table.details td{
	padding: 10px;
}

table.details tr td:first-child{
	padding-left: 0;
	color: black;  
    font-weight: 700;
	width: 100px;
}

#google_maps_icon {
	background: transparent url('../images/google_maps_icon.png') top left;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: center;
}


/* -----  Tables  ---- 
	Inspired/modified: http://www.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
*/

table.minimal {
  font-size: .8em;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin: 14px 0px;
  vertical-align: middle;
}

table.minimal th {
  color: #1E2324;
  font-size: 1.2em;
  padding: 10px 8px;
  border-bottom: 2px solid #1A1F1F;
  text-align: left;
}

table.minimal td {
  padding: 6px 8px;
  border-bottom: 1px solid #A19F9A;
}

table.minimal img {
  display: inline-block;
  vertical-align: middle;
}

table.minimal tr:hover td{
	color: #004;
	background-color: #DBE1E8;
}

#footer_container{
  height: 30px;
  margin: 0 auto;
}

#footer {
  color: white;
  margin: 0px auto;
  text-align: center;
  line-height: 15px;
  width: 880px;
  height: 40px;
  /*-moz-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;*/
}

#footer span{
  margin: 20px auto;
}

#footer a{
  color: white;
  text-decoration: none;
}

/*Flash notices*/

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/******* FORM *******/  

form div.field {
	margin: 10px 0;
}

form label{  
    display: block;  
    color: black;  
    font-weight: 700;  
    line-height: 1.4em; 
}  

form input, form select{
	padding: 6px;    
    font-size: 11px;
    border: 1px solid #cecece; 
	margin: 16px 0 0 0;  
}

form input[type=text]{
	width: 220px;
}

form input[type=submit]:hover
{
	background-color: #AAA;
    border: 1px solid #BBB; 
}  

table.rsvp{
	width: 100%;
}

table.rsvp td{
	width: 50%;
}

span.required {
	color: red;
	margin: 0 3px;
}

.clap {
	margin: 0 auto;
	display: block;
}

.link_actions {
	background-color: #D3FFDC;
	margin: 20px 0px;
	padding: 10px 8px;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.link_actions a{
	color: black;
	text-decoration: none;
}

.link_actions a:hover{
	text-decoration: underline;
}