body {
  background-color: #303333;
  font-family: "Lucida Grande", Sans-Serif; 
  color: #272F32;
}

#header {
  margin: 0 auto;
  text-align: left;
  background-color: #FFFFFF;
  border: solid 1px black;
  width: 800px;
  padding: 20px 40px;
}

#footer {
  margin: 20px 0px 10px;
  text-align: center;
}

#app {
	font-weight: 700;
   line-height: 1.6em;
   font-size: 26px;
}

#user_info  {
   display: table-cell;
   vertical-align: middle;
	float: right;
}

#party_info {
  line-height: 110%;
}

#map_info{
  display: inline;
  text-align: center;
  float: right;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


#container {
  /*width: 75%;*/
  display: block;
  width: 800px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 20px 40px;
  border: solid 1px black;
}

.horizontal_title {
	margin: 20px 0px 20px;
	padding: 10px 8px;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.horizontal_title span {
	font-weight: normal;
}

/* -----  Tables  ---- 
	Inspired/modified: http://www.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
*/

.minimal_table
{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	 font-size: 12px; */
	background: #fff; 
	/* margin: 45px; */
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	vertical-align: middle;
}

.minimal_table th
{
	/*
	font-size: 14px;
	font-weight: normal;
	 color: #039;
	 */
	padding: 10px 8px;
	border-bottom: 2px solid black;
}
.minimal_table td
{
	padding: 9px 8px 0px 8px;
}

.minimal_table tbody tr:hover td
{
	color: #009;
	background-color: #D3D9F5;
}

/*Menu code*/

#menu 
{
	border: solid 1px black;
   text-align: center;
	width: 880px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}


#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 156px;
	height: 25px;
	padding-top: 5px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #2C2C2C;
	text-decoration: none;
}

/*Flash notices*/

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
