<% title "Party Manager!" %>

<h2>Welcome<%= ", " + current_host.name if logged_in? %>!</h2>

<p>This application helps you manage your party and send invitations</p>

<p>This application is open to anyone without any special requirements. Tell your friends about it!</p>

<p>To use the application, you should
	<ol>
		<li>Add a party</li>
		<li>(Optional)Add a location and then edit the party to include that location</li>
		<li>Add guests</li>
		<li>Invite the guests to your party</li>
	</ol>
</p>