<h1>Party Manager</h1>

<h2>Welcome!</h2>

<p>This is the landing page of the Party Manager application. More content will be added soon.</p>

<p>The side navigation bar should help you navigate the application at the moment</p>

<p>You accessed this page at <b> <%= Time.now.strftime("%I:%M%P") %> </b> from <b> <%= @ip %> </b> </p>