<p>Dear <%= @gift.invitation.guest.name %>,</p>

<p><b><% @gift.invitation.party.host.name %></b> would like to thank you for giving <b><%= @gift.description %></b> at <b><%=@gift.invitation.party.name%></b></p>

<p>Please continue the tradition of gift giving and bring a bounty of gifts at the next party!</p>

<p>Thanks once again!</p>
